# Diretórios de dependências
node_modules/

# Build final gerado pelo Vite
dist/

# Arquivos de log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Configurações locais do sistema operacional
.DS_Store
Thumbs.db

# Configurações do editor
.vscode/
.idea/

# Ambiente
.env
.env.*.local

# Cache do Vite
.cache/
vite.svg

# Arquivos de lock (caso queira ignorar)
# Descomente se não quiser versionar o lockfile
# package-lock.json
# yarn.lock
# pnpm-lock.yaml

# Arquivos do sistema do Windows
ehthumbs.db
desktop.ini
