:root {
  /* Fontes e renderização */
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;

  /* Cores */
  --blue-dark: #0165BB;
  --gray-light: rgba(235, 235, 235, 1);
  --gray-base: #C0C2D1;
  --gray-hover: #E0E2F1;
  --gray-text: #2D3153;
  --text-dark: #171B36;
  --white: #FFFFFF;
  --link-hover: #747bff;
  --light-bg: #f9f9f9;
  --light-mode-bg: #C0C2D1;
  --dark-mode-bg: #272f62;
  --light-mode-text: #213547;

  color-scheme: light dark;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  /* outline: 1px solid red; */
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body,
footer {
  background-color: var(--blue-dark);
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  min-width: 100vw;
  /* max-width: 435px; */
  min-height: 90vh;

  color: var(--text-dark);
  text-align: center;

}

/* HEADER */
header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: url('/assets/comunidade.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
}

.header-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin: 2rem auto;
}

.header-content img {
  width: 150px;
  height: 150px;
}

/* MAIN */
main {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1rem;
  max-width: 1024px;
}

p {
  max-width: 100%;
  margin: 0.5rem auto;
}

/* MAIN CONTENT */
.who-we-are {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
}

/* CONTACT */
.contact-info {
  display: flex;
  flex-wrap: wrap;
  max-width: 435px;
  margin: 1rem 0 auto;
  justify-content: space-around;
  gap: 1rem;
}

.contact-link {
  width: 162px;
}

.contact-link button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
}

.contact-link img {
  width: 35px;
}

/* TIPOGRAFIA */
h1 {
  font-size: 2em;
  line-height: 1.1;
}

/* BOTÕES */
button {
  border-radius: 16px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  width: 100%;
  max-width: 170px;
  border: none;
  color: var(--gray-text);
  background-color: var(--link-hover);
}

button:hover {
  border-color: #212246;
  background-color: var(--link-hover);
}

/* FOOTER */
footer {
  color: var(--white);
  font-size: 0.9em;
  padding: 1rem;
  width: 100%;
}

footer a {
  color: var(--white);
  text-decoration: none;
  padding: 0;
  width: 100%;
  max-width: 100%;
}

/* MODO CLARO */
@media (prefers-color-scheme: light) {
  :root {
    color: var(--light-mode-text);
    background-color: var(--light-mode-bg);
  }

  a:hover {
    color: var(--link-hover);
  }

  body {
    background-color: var(--white);
  }

  button {
    background-color: var(--gray-hover);
  }
}

/* MODO ESCURO */
@media (prefers-color-scheme: dark) {
  :root {
    color: var(--white);
    background-color: var(--dark-mode-bg);
  }

  a:hover {
    color: var(--link-hover);
  }

  body {
    background-color: var(--dark-mode-bg);
    color: var(--gray-hover);
  }

  button {
    background-color: var(--gray-hover);
  }
}


/* maior que 435 */
@media (min-width: 436px) {
  main {
    width: 100%;
  }
}