:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  /* outline: 1px solid red; */
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body,
footer {
  background-color: #0165BB;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  min-width: 100vw;
  max-width: 435px;
  min-height: 90vh;

  color: #171B36;
  text-align: center;
}

/* HEADER */
header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: url('/assets/comunidade.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
}

.header-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin: 2rem auto;
}

.header-content img {
  width: 150px;
  height: 150px;
}

/* MAIN */
main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* MAIN CONTENT */
.main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
  background-color: rgba(244, 245, 250, 1);
  flex: 1;
}

/* CONTACT */
.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 50%;
  margin: 0 auto 0;
}

.contact-info div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 1rem;
}

.contact-info a {
  width: 100%;
}

.contact-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
}

.contact-link img {
  width: 35px;
}

/* TIPOGRAFIA */
h1 {
  font-size: 2em;
  line-height: 1.1;
}

/* BOTÕES */
button {
  border-radius: 16px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #C0C2D1;
  cursor: pointer;
  transition: border-color 0.25s;
  width: 160px;
  border: 1px solid #2D3153;
  color: #2D3153;
}

button:hover {
  border-color: #212246;
  background-color: #E0E2F1;
}

/* FOOTER */
footer {
  color: #FFFFFF;
  font-size: 0.9em;
  padding: 1rem;
}

footer a {
  color: #FFFFFF;
  text-decoration: none;
  padding: 0;
  width: 100%;
  max-width: 100%;
}

/* MODO CLARO */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #C0C2D1;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

/* maior que 435 */
@media (min-width: 436px) {
  main {
    width: 100%;
  }

  body {
    background-color: #FFFFFF;
  }
}

/* maior que 768 */
@media (min-width: 768px) {
  .main-content {
    font-size: 1.2rem;
  }
}